﻿@model IEnumerable<ITBDUF.Models.Role>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h2>Roles Listing </h2>

@Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
<hr />
<div>
    @foreach (var role in Model)
    {
        <p>
            <strong>@role.Name | </strong>
            @*<span onclick="return confirm('Are you sure to delete?')">
            <a href="/Roles/Delete?RoleName=@role.Name" class="delLink" style="color:red;">Delete</a>
            </span> |*@
            @Html.ActionLink("Delete","Delete",new { RoleName = role.Name})
            @Html.ActionLink("Edit", "Edit", new { roleName = @role.Name })
        </p>
    }
</div>