﻿@{     Layout = null; } 
<!DOCTYPE html>
<html>
<head>
    @*<script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusiveajax.min.js" type="text/javascript"></script>*@
    <script src="~/Scripts/jquery-2.2.0.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
</head>
<body>
    <div>
        <div id="divMessage">@ViewBag.Message</div>
        @Ajax.ActionLink("index", "UpdateWithAjax", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divMessage", InsertionMode = InsertionMode.Replace}, new { id = "ajaxlink", style="visibility:collapse;" })
    </div>
    <script>
        setTimeout(handler, 500);
        function handler ()
        {
            document.getElementById('ajaxlink').click();
            setTimeout(handler, 500);
        }
    </script>
</body>
</html>