﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Tài khoản bị khóa";
}

<hgroup>
    <h1 class="text-danger">Tài khoản bị khóa.</h1>
    <h2 class="text-danger">Tài khoản này đã bị tạm khóa, vui lòng thử lại sau.</h2>
</hgroup>
